{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}{{ object }}{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'tickettracker/shoelace/zepto.min.js' %}"></script>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'tickettracker/main.css' %}">
    <link rel="stylesheet" href="{% static 'tickettracker/shoelace/shoelace.css' %}">
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script src="{% static 'tickettracker/shoelace/shoelace.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-9">
        <table class="table-bordered">
            <tbody>
                <tr>
                    <th scope="row">#</th>
                    <td>{{ object.id }}</a></td>
                </tr><tr>
                    <th scope="row">{% trans 'Subject' %}</th>
                    <td>{{ object.subject }}</a></td>
                </tr><tr>
                    <th scope="row">{% trans 'Created by' %}</th>
                    <td>{{ object.created_by }}</td>
                </tr><tr>
                    <th scope="row">{% trans 'Created at' %}</th>
                    <td>{{ object.created_at }}</td>
                </tr><tr>
                    <th scope="row">{% trans 'Severity' %}</th>
                    <td>{{ object.severity|default:"&mdash;" }}</td>
                </tr><tr>
                    <th scope="row">{% trans 'Milestone' %}</th>
                    <td>{{ object.milestone|default:"&mdash;" }}</td>
                </tr><tr>
                    <th scope="row">{% trans 'Tags' %}</th>
                    <td>{% for tag in object.tags.all %}{{ tag }}{% endfor %}</td>
                </tr><tr>
                    <th scope="row">{% trans 'State' %}</th>
                    <td>{{ object.state }}{% if object.other_ticket %} (#{{ object.other_ticket.id }}){% endif %}</td>
                </tr>
        </table>

        {% for entry in object.entries.all %}
            <div class="logentry">
                <span class="created_by">{{ entry.created_by }}</span><br>
                <span class="created_at">{{ entry.created_at }}</span>
                <blockquote>{{ entry.body }}</blockquote>
            </div>
        {% endfor %}
    </div>
    <div class="col-3">
        XXX
    </div>
</div>
{% endblock %}
