{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}{{ object }}{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'tickettracker/shoelace/zepto.min.js' %}"></script>
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'tickettracker/main.css' %}">
    <link rel="stylesheet" href="{% static 'tickettracker/shoelace/shoelace.css' %}">
{% endblock %}

{% block extrascripts %}
    {{ block.super }}
    <script src="{% static 'tickettracker/shoelace/shoelace.js' %}"></script>
{% endblock %}

{% block content %}
<p>
    {{ object }}
</p>
<p>
    {% for entry in object.entries.all %}
        {{ entry }}
    {% endfor %}
</p>
{% endblock %}
